<!-- Google Analytics 4 -->
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    // Privacy-respecting configuration
    gtag('config', '{{ site.google_analytics }}', {
        'anonymize_ip': true,
        'cookie_flags': 'SameSite=None;Secure'
    });

    // Check for opt-out
    if (localStorage.getItem('analytics-opt-out') === 'true') {
        window['ga-disable-{{ site.google_analytics }}'] = true;
    }
</script>
{% endif %}